.cards {
  display: flex;
  flex-flow: row wrap;
  padding: 0.5rem;
}

.card {
  display: flex;
  padding: 0.5rem;
  flex-flow: column wrap;
  width: 30%;
  height: 4.9rem;
  color: rgb(33, 33, 33);
}

.card-label {
  font-weight: 500;
  padding: 0.3rem 0;
}

.card-input {
  padding: 0.3rem;
  line-height: 1.2rem;
  border: solid 1px rgb(118, 118, 118);
  color: rgb(33, 33, 33);
  min-height: 1.2rem;
}

.card-required:after {
  content:" *";
  color: red;
}

.card-dropdown-input {
  padding: 0.25rem 0 0 0.25rem;
  line-height: 1.2rem;
  height: 1.55rem;
  border: solid 1px rgb(118, 118, 118);
  color: rgb(33, 33, 33);
  display: flex;
  flex-direction: row;
  overflow: hidden;
  flex-wrap: wrap;
}

.placeholder {
  color: rgb(118, 118, 118);
}

.card-select-menu {
  position: relative;
  display: flex;
  width: 100%;
  flex-direction: column;
}

.card-filter-selected {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0.25rem 0 0 0.25rem;
  border-bottom: solid 1px rgb(118, 118, 118);
  min-height: 1.55rem;
}
  
.card-select-filter {
  height: 1.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: solid 1px rgb(118, 118, 118);
}

.card-select-input {
  height: calc(100% - 0.5rem);
  width: calc(100% - 0.7rem);
  border: dashed 2px rgb(118, 118, 118);
}

.card-select-dropdown {
  border: solid 1px rgb(118, 118, 118);
  background-color: rgb(255, 255, 255);
  color: #2f3640;
  width: 100%;
  overflow: hidden;
  position: absolute;
  display: none;
}
  
.card-select-dropdown.active {
  display: block;
}

.card-selected {
  display: flex;
  flex-direction: row;
  background-color: #bef3f3;
  border: solid 1px #2f3640;
  width: fit-content;
  height: fit-content;
  margin: 0 0.25rem 0.25rem 0;
}
  
.card-selected-value{
  padding: 0 0.2rem;
}

.card-selected-unselect {
  border-left: solid 1px #2f3640;
  padding: 0 0.2rem;
  cursor: pointer;
}

.card-select-options {
  max-height: 10rem;
  overflow-y: scroll;
}

.card-select-options::-webkit-scrollbar {
  width: 8px;
}

.card-select-options::-webkit-scrollbar-thumb {
  background: #525861;
}

.option {
  cursor: pointer;
  padding: 0.5rem 0.7rem;
}

.option-label {
  cursor: pointer;
}
.radio {
  display: none;
}

.option:hover {
  background: #c4c4c4;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.card-checkbox-input {
  display: none;
}

.card-checkbox-input:checked ~ .card-checkbox-checkmark {
  background-image: linear-gradient(#b9e9b3,#a8e4a0)
}

.card-checkbox-checkmark:after {
  content: "";
  position: absolute;
}

.card-checkbox-input:checked ~ .card-checkbox-checkmark:after {
  left: 0.45rem;
  top: 0.25rem;
  width: 0.25rem;
  height: 0.5rem;
  border: solid rgb(255, 255, 255);
  border-width: 0 0.15rem 0.15rem 0;
  transform: rotate(45deg);
}

.card-checkbox-cover {
  position: relative;
  margin-top: auto;
  margin-bottom: auto;
}

.card-checkbox-checkmark {
  height: 1.3rem;
  width: 1.3rem;
  background: #727272d2;
  border-radius: 5px;
}

.card-toggle-cover {
  position: relative;
  display: block;
  width: 2.5rem;
  height: 1.3rem;
  margin-top: auto;
  margin-bottom: auto;
}

.card-checkbox-input {
  display: none;
}

.card-toggle-slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #727272d2;
  border-radius: 30px;
}

.card-toggle-slider:before {
  position: absolute;
  content: "";
  height: 0.9rem;
  width: 0.9rem;
  border-radius: 20px;
  left: 0.3rem;
  bottom: 0.2rem;
  background: rgb(255, 255, 255);
  transition: 0.4s;
}

.card-checkbox-input:checked ~ .card-toggle-slider {
  background-image: linear-gradient(#b9e9b3,#a8e4a0)
}

.card-checkbox-input:checked ~ .card-toggle-slider:before {
  transform: translateX(1rem);
}

.card-error {
  color: rgb(255, 0, 0);
}

.card-url-dropdown {
  border: solid 1px rgb(118, 118, 118);
  background-color: rgb(255, 255, 255);
  color: #2f3640;
  width: 100%;
  overflow: hidden;
  position: absolute;
  display: none;
}

.card-url-input-wrapper{
  width: 100%;
  margin: 0.2rem;
}

.card-url-input-label {
  font-weight: 500;
}

.card-url-input{
  width: calc(100% - 1rem);
  padding: 0.25rem;
  line-height: 1rem;
  border: solid 1px rgb(118, 118, 118);
  color: rgb(33, 33, 33);
}