.card {
  display: flex;
  padding: 0.5rem;
  flex-flow: column;
  width: calc(100% - 1rem);
  color: var(--black);
}

.card-label {
  font-weight: 500;
  padding: 0.3rem 0;
}

.card-required:after {
  content:" *";
  color: red;
}

.card-error {
  color: var(--red);
  height: 1.17rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.card-tall {
  display: flex;
  padding: 0.5rem;
  flex-flow: column wrap;
  width: calc(100% - 1rem);
  height: 16.7rem;
}

.card-tall-display {
  height: 13rem;
}

.card-input-d {
  padding: 0.3rem;
  line-height: 1.2rem;
  border: solid 1px var(--gray5);
  min-height: 1.2rem;
  background: var(--gray1);
  overflow: auto;
}
