.cards {
  display: flex;
  flex-flow: row wrap;
  padding: 0 0.5rem 0.5rem 0.5rem;
}

.card {
  display: flex;
  padding: 0.5rem;
  flex-flow: column;
  width: calc(100% - 1rem);
  color: var(--black);
}

.card-label {
  font-weight: 500;
  padding: 0.3rem 0;
}

.card-input {
  padding: 0.3rem;
  line-height: 1.2rem;
  border: solid 1px var(--gray5);
  min-height: 1.2rem;
}

.card-required:after {
  content:" *";
  color: red;
}

.card-dropdown-input {
  padding: 0.25rem 0 0 0.25rem;
  line-height: 1.2rem;
  height: 1.55rem;
  border: solid 1px var(--gray5);
  display: flex;
  flex-direction: row;
  overflow: hidden;
  flex-wrap: wrap;
}

.placeholder {
  color: var(--gray5);
}

.card-select-menu {
  position: relative;
  display: flex;
  width: 100%;
  flex-direction: column;
  background-color: var(--white);
}

.card-filter-selected {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0.25rem 0 0 0.25rem;
  border-bottom: solid 1px var(--gray5);
  min-height: 1.55rem;
}
  
.card-select-filter {
  height: 1.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: solid 1px var(--gray5);
}

.card-select-input {
  height: calc(100% - 0.5rem);
  width: calc(100% - 0.7rem);
  border: dashed 2px var(--gray5);
}

.card-select-dropdown {
  border: solid 1px var(--gray5);
  width: calc(100% - 0.1rem);
  overflow: hidden;
  position: absolute;
  display: none;
  z-index: 1;
  box-shadow: 0 0 1rem var(--transparent-black);
  background-color: var(--white);
}

.card-selected {
  display: flex;
  flex-direction: row;
  background-color: var(--powder);
  border: solid 1px var(--gray5);
  width: fit-content;
  height: fit-content;
  margin: 0 0.25rem 0.25rem 0;
}
  
.card-selected-value{
  padding: 0 0.2rem;
}

.card-selected-unselect {
  border-left: solid 1px var(--gray5);
  padding: 0 0.2rem;
  cursor: pointer;
}

.card-select-options {
  max-height: 10rem;
  overflow-y: scroll;
}

.option {
  cursor: pointer;
  padding: 0.5rem 0.7rem;
}

.option-label {
  cursor: pointer;
}
.radio {
  display: none;
}

.option:hover {
  background: var(--gray2);
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.card-checkbox-input {
  display: none;
}

.card-checkbox-input:checked ~ .card-checkbox-checkmark {
  background: var(--green);
}

.card-checkbox-checkmark:after {
  content: "";
  position: absolute;
}

.card-checkbox-input:checked ~ .card-checkbox-checkmark:after {
  left: 0.45rem;
  top: 0.25rem;
  width: 0.25rem;
  height: 0.5rem;
  border: solid var(--white);
  border-width: 0 0.15rem 0.15rem 0;
  transform: rotate(45deg);
}

.card-checkbox-cover {
  position: relative;
  margin: 0.3rem 0;
}

.card-checkbox-checkmark {
  height: 1.3rem;
  width: 1.3rem;
  background: var(--gray6);
  border-radius: 5px;
}

.card-toggle-cover {
  position: relative;
  display: block;
  width: 2.5rem;
  height: 1.3rem;
  margin: 0.3rem 0;
}

.card-checkbox-input {
  display: none;
}

.card-toggle-slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: var(--gray6);
  border-radius: 30px;
}

.card-toggle-slider:before {
  position: absolute;
  content: "";
  height: 0.9rem;
  width: 0.9rem;
  border-radius: 20px;
  left: 0.3rem;
  bottom: 0.2rem;
  background: var(--white);
  transition: 0.4s;
}

.card-checkbox-input:checked ~ .card-toggle-slider {
  background: var(--green);
}

.card-checkbox-input:checked ~ .card-toggle-slider:before {
  transform: translateX(1rem);
}

.card-error {
  color: var(--red);
  height: 1.17rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.card-url-input-wrapper{
  width: calc(100% - 0.4rem);
  margin: 0.2rem;
}

.card-url-input-label {
  font-weight: 500;
}

.card-url-input{
  width: calc(100% - 0.6rem);
  padding: 0.25rem;
  line-height: 1rem;
  border: solid 1px var(--gray5);
}

.card-tall {
  display: flex;
  padding: 0.5rem;
  flex-flow: column wrap;
  width: calc(100% - 1rem);
  height: 16.7rem;
}

.card-tall-display {
  height: 13rem;
}

.card-tall-img {
  max-width: 100%;
  max-height: 100%;
  margin: auto;
  display: block;
}

.card-tall-dropdown {
  border: solid 1px var(--gray5);
  width: calc(100% - 0.1rem);
  overflow: hidden;
  position: absolute;
  display: none;
  top: 11.7rem;
  z-index: 1;
  box-shadow: 0 0 1rem var(--transparent-black);
  background-color: var(--white);
}

.card-filter-selected-d {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0.25rem 0 0 0.25rem;
  min-height: 1.55rem;
  background: var(--gray1);
}
.card-dropdown-input-d{
  padding: 0.25rem 0 0 0.25rem;
  line-height: 1.2rem;
  height: 1.55rem;
  border: solid 1px var(--gray5);
  display: flex;
  flex-direction: row;
  overflow: hidden;
  flex-wrap: wrap;
  background: var(--gray1);
}

.card-input-d {
  padding: 0.3rem;
  line-height: 1.2rem;
  border: solid 1px var(--gray5);
  min-height: 1.2rem;
  background: var(--gray1);
  overflow: auto;
}

.card-toggle-slider-d {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: var(--gray1);
  border-radius: 30px;
  border: 1px solid var(--gray6);
}

.card-toggle-slider-d:before {
  position: absolute;
  content: "";
  height: 0.9rem;
  width: 0.9rem;
  border-radius: 20px;
  left: 0.3rem;
  bottom: 0.15rem;
  background: var(--white);
  transition: 0.4s;
}

.card-checkbox-input:checked ~ .card-toggle-slider-d {
  background: var(--green);
}

.card-checkbox-input:checked ~ .card-toggle-slider-d:before {
  transform: translateX(1rem);
}

.card-checkbox-checkmark-d {
  height: 1.3rem;
  width: 1.3rem;
  background: var(--gray1);
  border: 1px solid var(--gray6);
  border-radius: 5px;
}

.card-checkbox-checkmark-d:after {
  content: "";
  position: absolute;
}

.card-checkbox-input:checked ~ .card-checkbox-checkmark-d {
  background: var(--green);
}

.card-checkbox-input:checked ~ .card-checkbox-checkmark-d:after {
  left: 0.5rem;
  top: 0.3rem;
  width: 0.25rem;
  height: 0.5rem;
  border: solid var(--white);
  border-width: 0 0.15rem 0.15rem 0;
  transform: rotate(45deg);
}

textarea {
  resize: none;
}

::-webkit-scrollbar {
  max-width: 8px;
}

::-webkit-scrollbar-thumb {
  background: var(--gray7);
}
  
.active {
  display: block;
}
