.card-dropdown-input {
    padding: 0.25rem 0 0 0.25rem;
    line-height: 1.2rem;
    height: 1.55rem;
    border: solid 1px rgb(118, 118, 118);
    color: rgb(33, 33, 33);
    display: flex;
    flex-direction: row;
    overflow: hidden;
    flex-wrap: wrap;
  }
  
  .placeholder {
    color: rgb(118, 118, 118);
  }
  
  .card-select-menu {
    position: relative;
    display: flex;
    width: 100%;
    flex-direction: column;
  }
  
  .card-filter-selected {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0.25rem 0 0 0.25rem;
    border-bottom: solid 1px rgb(118, 118, 118);
    min-height: 1.55rem;
  }
  
  .card-select-filter {
    height: 1.8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: solid 1px rgb(118, 118, 118);
  }
  
  .card-select-input {
    height: calc(100% - 0.4rem);
    width: calc(100% - 0.4rem);
    border: dashed 2px rgb(118, 118, 118);
  }
  
  .card-select-dropdown {
    border: solid 1px rgb(118, 118, 118);
    background-color: rgb(255, 255, 255);
    color: #2f3640;
    width: 100%;
    transition: all 0.4s;
    overflow: hidden;
    position: absolute;
    display: none;
  }
  
  .card-select-dropdown.active {
    display: block;
  }
  
  .card-selected {
    display: flex;
    flex-direction: row;
    background-color: #bef3f3;
    border: solid 1px #2f3640;
    width: fit-content;
    height: fit-content;
    margin: 0 0.25rem 0.25rem 0;
  }
  
  .card-selected-value{
    padding: 0 0.2rem;
  }
  
  .card-selected-unselect {
    border-left: solid 1px #2f3640;
    padding: 0 0.2rem;
    cursor: pointer;
  }

  .card-select-options {
    max-height: 10rem;
    overflow-y: scroll;
  }
  
  .card-select-options::-webkit-scrollbar {
    width: 8px;
  }
  
  .card-select-options::-webkit-scrollbar-thumb {
    background: #525861;
  }
  
  .option {
    cursor: pointer;
    padding: 0.5rem 0.7rem;
  }
  
  .option-label {
    cursor: pointer;
  }
  .radio {
    display: none;
  }
  
  .option:hover {
    background: #c4c4c4;
  }
  